*.txt*pycache*
*/*pycache*
*/*ipynb_checkpoints*
__pycache__/
*.txt
*/__pycache__/*
examples/old_experiments/__pycache__/*
subroutines/__pycache__/*
examples/old_experiments/__pycache__/*
subroutines/__pycache__/*
examples/old_experiments/__pycache__/*
subroutines/__pycache__/*
examples/old_experiments/__pycache__/*
subroutines/__pycache__/*
repository
*/*/__pycache__/*
*/__pycache__/*
./**/*.pyc
*/**/**/*.pyc
examples/old_experiments/__pycache__/*.pyc
subroutines/__pycache__/*.pyc
analysis/csv_data/qn_labjack_data_20230908_coil_monitoring.csv
analysis/csv_data/20230906_173637_coil_scan.csv
analysis/physics_scratchpad.ipynb
tests/Card_Test.py
third_party/thorlabs/images
run_artiq.bat
repository
.idea
.ipynb_checkpoints
artiqenv.bat
dataset_db.pyon
last_rid.pyon
results
/scratchpad.py
