[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
h5py = "*"
numpy = "*"
matplotlib = "*"
opencv-python = "*"
scipy = "*"
tifffile = "*"
psycopg2 = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.9"